@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.background{
    background: linear-gradient(#517FF6, #253663);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff80;
    border-radius: 30px;
    box-sizing: border-box;
    width: 1040px;
    height: 560px;
}

.main h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.main .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 20px;
}

.main .nav .add{
    width: 50%;
    margin-right: 40px;
}

.main .nav .filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 40px;
}


button{
    border: none;
    width: 30%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #ffffffBF;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.active{
    background-color: #517ff6;
}

button.add-task{
    width: 75%;
    height: 50px;
}


.task-list{
    background-color: #ffffff;
    width: 100%;
    height: 260px;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
}

.task-list thead th:not(:nth-child(2)){
    width: 110px;
}
.task-list thead th:nth-child(2){
    width: 200px;
}

thead {
    position: sticky;
    top: 0;
    background: white; 
    z-index: 1; 
}

.task-list thead tr th{
    font-size: 20px;
    font-weight: 400;
}

.empty-message {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.task-list tbody td:nth-child(1), td:nth-child(2){
    padding: 10px 0 10px 0;
}
.task-list tbody td:nth-child(n+3){
    text-align: center;
}

.button{
    font-size: 20px;
    letter-spacing: 5px;
}

.button a.edit{
    color: black
}

.button a.delete{
    color: red
}

@media screen and (max-width: 1160px)  {
    .main{
        width:90vw;
        height: 70vh;
    }
    .main .nav{
        width: 95%;
    }

    .task-list{
        width: 95%;
    }
}

@media screen and (max-width: 900px)  {
   button{
    width: 30%;
    height: 40px;
    font-size: 0.9em;
   }

   button.add-task{
    width: 75%;
    height: 40px;
    }

    .task-list thead tr th{
        font-size: 0.9em;
    }

    .task-list tbody td{
        font-size: 0.7em;
    }

    tr td.button{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 770px) {
    button{
        white-space: nowrap;
        width: 30%;
    }
    tr td.button{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 580px) {
    .main .nav{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .main .nav .add, .main .nav .filter{
        display: flex;
        margin:5px 0;
        justify-content: center;
    }
    .main .nav .filter{
        width: 90%;
    }

    button:not(.add){
        margin: 0 2%
    }
}

